<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %></h2>
<br>
<h3>Appointments:</h3>
<ul>
  <% @appointments.each do |app| %>
    <li><%= link_to app.patient.name, patient_path(app.patient) %>: <%= app.datetime %></li>
  <% end %>
</ul>
